.wrapper-aboutBanner {
    position: relative;
    margin: 0px 100px 30px 100px;
  }
  @media (max-width: 768px) {
    .wrapper-aboutBanner {
      margin: 0 20px;
    }
  }
  .wrapper-aboutBanner__img {
    width: 100%;
    height: 223px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px;
  }
  @media (max-width: 768px) {
    .wrapper-aboutBanner__img {
      object-position: 65%;
    }
  }
  .wrapper-aboutBanner__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
  }