.article {
    position: relative;
    width: 340px;
    height: 340px;
    display: flex;
    align-items: flex-end;
  }

  @media  (max-width: 768px){
 .article{
    width: 100%;
    height: 225px;
 }   
}

@media  (min-width: 768px) and (max-width: 1040px){
  .article{
     width: 250px;
     height: 250px;
  }   
 }


  .article__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .article__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem 1.5rem 1rem;
    width: 100%;
    height: 28%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: #FFF;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    font-size: medium;
    text-align: center;
  }
