.footer {
    position: relative;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    align-items: center;
    height: 209px;
    margin-top: 201px;
  }
  .footer__logo {
    height: 1px;
  }
  .footer__logo .logo {
   max-width: 122px;
   margin-top: 66px;
   margin-bottom: 29px;
  }
  .footer__mentions {
    margin-top: 133px;
    margin-bottom: 29px;
    max-width: 513px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    
  }

  @media (min-width:300px) and (max-width: 768px) {
    .footer {
      margin-top: 168px;
    }
    .footer__mentions {
      font-size: 12px;
    }   
  }