.tag {
    background: #FF6060;
    border-radius: 10px;
    color: #F6F6F6;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 68px;
    text-align: center;
  }
  .tag__text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
  @media (max-width: 768px) {
    .tag__text {
      font-size: 10px;
    }
  }