.collapse__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    height: 47px;
    padding: 0 10px;
    border-radius: 10px;
    max-width: 1023px;
  }

  .collapse__content--margin {
    margin-bottom: 31px;
  }
  .collapse__arrow {
    width: 14;
    height: auto;
  }
  .collapse__arrow--rotate {
    transform: rotate(180deg);
    transition: transform 300ms;
  }
  .collapse__title {
    font-size: 24px;
  }
  .collapse__text {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    border-radius: 0px 0px 5px 5px;
    padding: 36px 27px 19px 18px;
    margin-bottom: 31px;
    font-size: 24px;
    max-width: 1023px;
  }
  .collapse__hide {
    display: none;
  }

  @media (min-width: 1440px) {
    
    .collapse__content{
      max-width: none;
    }

    .collapse__text{
      max-width: none;
    }

  }
  @media (min-width:300px) and (max-width: 768px) {
    
    .collapse__content {
      height: 30px; 
    }
    .collapse__content--margin {
      margin-bottom: 20px;
    }
    .collapse__title {
      font-size: 13px;
    }
    .collapse__arrow {
      width: 14px;

    }
    .collapse__text {
      font-size: 12px;
      padding: 23px 7px 52px 11px;
      margin-bottom: 20px;
    }
  }