.wrapper-banner {
    position: relative;
    margin: 0px 100px 43px 100px;
  }

  .wrapper-banner__img {
    width: 100%;
    height: 223px;
    object-fit: cover;
    object-position: 0% 44%;
    border-radius: 25px;
  }


  .wrapper-banner__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .wrapper-banner__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 48px;
    width: 100%;
    text-align: center;
  }
  @media (max-width: 768px) {
    .wrapper-banner {
      height: 110px;
      margin: 20px;
      
    }
    .wrapper-banner img{
      height: 110px;
    }
    .wrapper-banner__background {
      height: 110px;
    }
    .wrapper-banner__title {
      font-size: 24px;
      text-align: left;
      margin-left: 16px;
    }
  }
